nav{
    background:#EEE685;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    font-size: 18px;
    padding: 10px;
}

/*Não Visitado*/
a:lnk{
    color:#b9c941;
    text-decoration: none;

}
/*Visitado*/
a:visited{
    color:#458800;
}
/*Passar o mouse*/
a:hover{
    color: #884726;
    background: gold;
}
/*Clicar*/
a:acttive{
color: #FF1493;
}

a{
    text-decoration: none;
}

a:hover{
    background-color: orange;
}