

/*css document*/

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0 auto;
    padding: 25 px 0;
    width: 940px;
    font: 13px Verdana, Geneva, sans-serif ;
    background-color:
}

article p{
    font-size: 18px;
}

{


    
}