

aside { 
    display: block;
  }


  body {
    color: #000;
    font: 12px Verdana, sans-serif;
    }

#conteudo {
    width: 70%;
    float: right;
    text-align: center;
    }

#menu {
    width: 30%;
    margin: 0; padding: 0px;
    float: left;

    }

#menu ul li {
    margin: 0; padding: 0px;
    border-bottom: 1px solid #CCC;
    text-align: left;
    list-style-type: none;
    }


#menu a:link {
    background: #F5F5F5;
    color: #666;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: block;
    }

#menu a:hover {
    background: #E5F0FF;
    color: #039;
    }

.post{      
margin: 100px;
padding: 40px;
background-color: azure;
background-image: linear-gradient(to bottom,#1e5799 0%,#2989d8,#98FB98,#90EE90,#ADFF2F);
text-align: justify;
padding-left: 15px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
width: 700px;
line height: 24px;
border: 1px solid black;
box-shadow: 5px 10px #aaaaaa;
border-radius: 20px;
}
